
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text"
                    class="form-control"
                    [(ngModel)] = "valor"
                    (keyup) = "buscar()"
                    placeholder="Buscar Medico...">
            </div>
        </div>
    </div>
</div>

<div 
    *ngIf="cargando"
    class="row animated fadeIn fast">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por Favor Espere</p>
        </div>
    </div>
</div>

<div
    *ngIf="!cargando"
    class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos ( {{medicos.length}} )</h4>
                        <h6 class="card-subtitle">Medicos Registrados En Mi Aplicacion</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a routerLink = "./nuevo" class="btn btn-primary">
                                <i class="fa fa-user-md"></i>
                                Crear Medico
                            </a>
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="w100">Foto</th>
                                <th>Nombre</th>
                                <th class="text-nowrap w100">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let medico of medicos">
                                <td> 
                                    <img 
                                        class="avatar cursor"
                                        [src]=" medico.img | imagen: 'medicos'" 
                                        (click) = "abrirModal(medico)"
                                        alt=""> 
                                </td>
                                <td>{{medico.nombre}}</td>
                                <td class="text-nowrap">
                                    <a [routerLink] = "['./',medico._id]" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="borrarMedico(medico._id)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
<!-- 
                <button class="btn btn-secondary mr-2">Anterior</button>
                <button class="btn btn-secondary">Siguiente</button> -->

            </div>
        </div>
    </div>
</div>