<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi Perfil</h4>
                <h6 class="card-subtitle">Informacion Personal</h6>
                <form class="form p-t-20" [formGroup] = "myForm" (ngSubmit)= "update()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="exampleInputuname"
                                formControlName = "nombre" 
                                placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input 
                                type="email"
                                class="form-control" 
                                formControlName = "email"
                                id="exampleInputEmail1" 
                                placeholder="Enter email"
                                [readonly] = "usuario.google">
                        </div>
                    </div>
                
                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">Submit</button>
                </form>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">Imagen De Usuario</h6>
                
                <div class="contenedor-imagen text-center">
                    <img *ngIf="!imagenTemp" [src]="usuario.imagenUrl" alt="" class="img-perfil">
                    <img *ngIf="imagenTemp" [src]="imagenTemp" alt="" class="img-perfil">
                </div>
    
                <input type="file"
                        (change) = "cambiarImagen($event)">
                <br>
                <br>
    
                <button 
                    type="button" 
                    class="btn btn-block btn-success waves-effect waves-light m-r-10"
                    [disabled] = "!imagenTemp"
                    (click)="subirImagen()">
                    Submit
                </button>
            </div>
            
        </div>
    </div>

</div>