

#themecolors .selector, .cursor{
    cursor: pointer;
}
.google-btn{
    display: flex;
    justify-content: center;
}

.w100{
    width: 100px;
}

.w140{
    width: 140px;
}

.w50{
    width: 50px;
}

.avatar{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
}

.fondo-modal{
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.oculto{
    display: none;
}